//- BASE 
doctype html
html
    head
        title DDS
        block style 
        block scripts
    body 
        nav#navbar
            ul 
                div#logo 
                    img(src="/static/img/logo (2).png")
                    |DDS
                li #[a(href="/") Home ]
                li #[a(href="/#missionsection") Our Mission ]
                li #[a(href="/#sponsorsection") Our Sponsors ]
                li #[a(href="/") About Us ]
                li #[a(href="/contact") Contact US]
        block content 
        footer#footer 
            | Copyright reserved
